.container-fluid {

    background-image: url('https://wallpapers.com/images/hd/wall-e-movie-digital-cover-xakbr6jgu42zb5up.webp');

    background-size: cover;

    background-repeat: no-repeat;

    height: 92vh;

    display: inline-flex ;

    flex-direction: column;

    /* justify-content: center; */

    align-items: center;

    text-align: center;

    color: #fff;

    overflow: hidden;

  }




  .book-ticket {

    background-image: url('https://wallpapers.com/images/hd/wall-e-movie-digital-cover-xakbr6jgu42zb5up.webp');

    background-size: cover;

    height: 87vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;

    color: #fff;

    overflow: hidden;

  }




 body::-webkit-scrollbar{

display: none;

 }

  header {

    margin-bottom: 20px;

  }

 

  footer {

    margin-top: 20px;

  }




  .button-style{

    margin-right: 20px;

  }




  .button-style:hover{

    background-color: green;

    border-color: green;

  }




  .button-style-back{

    margin-top: 8px;

  }




  .button-style-back:hover{

    background-color: green;

    border-color: green;

  }




  .search{

    margin-bottom: 20px;

  }




  .table-movie{

    max-width: max-content;

  }




  .book-btn{

    background-color:rgb(19, 199, 244);

    border-radius: 25px;

    border-color: rgb(19, 199, 244);

  }

  .book-btn:hover{

    background-color:rgb(15, 199, 36);

    border-color: rgb(15, 199, 36);

    color: white;

  }





  .container {

    max-width: 10000px;

    margin-left: auto;

    margin-right: auto;

    padding-left: 10px;

    padding-right: 10px;

  }

 

  h2 {

    font-size: 26px;

    margin: 20px 0;

    text-align: center;

    small {

      font-size: 0.5em;

    }

  }

 

  .responsive-table {

    li {

      border-radius: 3px;

      padding: 25px 30px;

      display: flex;

      justify-content: space-between;

      margin-bottom: 25px;

    }

    .table-header {

      background-color: #95A5A6;

      font-size: 14px;

      text-transform: uppercase;

      letter-spacing: 0.03em;

    }

    .table-row {

      background-color: #ffffff;

      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);

    }

    .col-1 {

      flex-basis: 10%;

    }

    .col-2 {

      flex-basis: 40%;

    }

    .col-3 {

      flex-basis: 25%;

    }

    .col-4 {

      flex-basis: 25%;

    }

    .col-5 {

      flex-basis: 25%;

    }

   

    @media all and (max-width: 767px) {

      .table-header {

        display: none;

      }

     

      li {

        display: block;

      }

      .col {

       

        flex-basis: 100%;

       

      }

      .col {

        display: flex;

        padding: 10px 0;

        &:before {

          color: #6C7A89;

          padding-right: 10px;

          content: attr(data-label);

          flex-basis: 50%;

          text-align: right;

        }

      }

    }

  }